* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 20px;
}

.right-pnel {
  display: flex;
  gap: 16px;
  padding: 0 12px;
  align-items: center;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #22242a;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  padding-bottom: 20vh;
}

main p {
  font-size: 0.8rem;
}

.main-logo {
  inline-size: 292px;
  margin-bottom: 30px;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.search-bar {
  display: flex;
  inline-size: 100%;
  max-width: 640px;
  padding: 0px 14px;
  border: 1px solid #5f6368;
  border-radius: 24px;
  background-color: #4d5156;
  color: #fff;
  font-size: 16px;
  outline: none;
  align-items: center;
  block-size: 46px;
  gap: 12px;
}

.search-bar img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.search-bar input {
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  flex-grow: 1;
}

.click {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-block-end: 25px;
}

.click button {
  color: white;
  background-color: #303134;
  border: 1px solid transparent;
  border-radius: 7px;
  padding: 10px 20px;
}

.click button:hover {
  border: 1px solid #5f6368;
}

.lnguge {
  color: #73a9d3;
}

.lnguge:hover {
  text-decoration: underline;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover,
nav a:focus-visible {
  text-decoration: underline;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 15px;
}

footer {
  background-color: #16171a;
}

.bottom-nav {
  display: flex;
  margin: 0;
  padding: 15px 30px;
  gap: 15px;
  justify-content: space-between;
}

.India {
  display: flex;
  margin: 0;
  padding: 15px 30px;
  border-block-end: #323535 solid 1px;
}
